.admin_container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
    background-color: $color-light;
    width: 250px;
    height: 170px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 3px 5px 8px $color-secondary;
    text-decoration: none;
    transition: box-shadow 0.3s ease-in-out;

    span {
      color: $color-dark;
      transition: color 0.3s ease-in-out;
    }

    &:hover {
      box-shadow: 3px 5px 8px $color-dark;
    }

    i {
      font-size: 6.8rem;
    }

    .fa-users-cog {
      color: rgb(110, 110, 110);
      transition: color 0.3s ease-in-out;
    }

    &:hover > .fa-users-cog {
      color: rgb(15, 15, 15);
    }

    .fa-box {
      color: rgb(0, 206, 93);
      transition: color 0.3s ease-in-out;
    }

    &:hover > .fa-box {
      color: rgb(0, 252, 113);
    }

    .fa-cash-register {
      color: #b30000;
      transition: color 0.3s ease-in-out;
    }

    &:hover > .fa-cash-register {
      color: #f30000;
    }
  }
}
