.create_product_container {
  width: 90%;
  margin: 0 auto;
  background: #eee;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 1px 8px #eee;

  h2 {
    text-align: center;
  }

  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .col_1 {
      display: flex;
      flex-direction: column;
      width: 30%;

      label {
        font-size: 0.8rem;

        &:not(:first-child) {
          margin-top: 15px;
        }
      }

      input {
        padding: 5px 0;
        background: transparent;
        margin-top: 5px;
        outline: none;
        border-color: $color-primary;
        text-indent: 10px;
        border-radius: 10px;
        box-shadow: 1px 2px 8px $color-dark;
        transition: box-shadow 0.3s ease-in-out;

        &:focus {
          box-shadow: 1px 2px 8px $color-success;
        }
      }
    }

    .col_2 {
      display: flex;
      flex-direction: column;
      width: 30%;

      label {
        font-size: 0.8rem;

        &:not(:first-child) {
          margin-top: 15px;
        }
      }

      input {
        padding: 5px 0;
        background: transparent;
        margin-top: 5px;
        outline: none;
        border-color: $color-primary;
        text-indent: 10px;
        border-radius: 10px;
        box-shadow: 1px 2px 8px $color-dark;
        transition: box-shadow 0.3s ease-in-out;

        &:focus {
          box-shadow: 1px 2px 8px $color-success;
        }
      }
    }

    .col_3 {
      display: flex;
      flex-direction: column;
      width: 30%;

      label {
        font-size: 0.8rem;

        &:not(:first-child) {
          margin-top: 15px;
        }
      }

      input {
        padding: 5px 0;
        background: transparent;
        margin-top: 5px;
        outline: none;
        border-color: $color-primary;
        text-indent: 10px;
        border-radius: 10px;
        box-shadow: 1px 2px 8px $color-dark;
        transition: box-shadow 0.3s ease-in-out;

        &:focus {
          box-shadow: 1px 2px 8px $color-success;
        }
      }

      button {
        padding: 5px 0;
        background: transparent;
        border-color: $color-primary;
        font-family: 'Montserrat', sans-serif;
        outline: none;
        transition: color 0.3s ease-in-out;
        margin-top: 30px;
        cursor: pointer;
        border-radius: 10px;

        &:hover {
          background: $color-dark;
          color: $color-lighter;
        }
      }
    }
  }
}
