.product_list_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.cr_btn {
  text-decoration: none;
  border: 2px solid rgb(0, 194, 0);
  border-radius: 5px;
  padding: 10px;
  color: #222423;
  transition: background 0.3s ease-in-out;
}

.cr_btn:hover {
  background: #080808;
  color: #eee;
}

.product_list_container {
  width: 95%;
  padding: 10px;
  margin: 0 auto;
}

.info {
  background: #00ad48;
  padding: 40px;
  width: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  text-align: center;
  color: #eee;
  border-radius: 15px;
  box-shadow: 0 0 8px #00ad48;
}

.product_list_container table {
  display: table;
  border-spacing: 15px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 0.8rem;
}

.product_list_container table thead {
  border-bottom: 1px solid grey;
}

.product_list_container table tbody tr td {
  padding: 20px;
  border-bottom: 1px solid grey;
}

.product_list_container table tbody tr td .fa-trash-alt {
  color: rgb(192, 18, 18);
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.product_list_container table tbody tr td .fa-trash-alt:hover {
  color: rgb(247, 3, 3);
}

.product_list_container table tbody tr td .fa-edit {
  color: rgb(192, 122, 18);
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.product_list_container table tbody tr td .fa-edit:hover {
  color: rgb(252, 152, 2);
}

.product_list_container table tbody tr td img {
  width: 40px;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgb(54, 54, 54);
}

.product_list_container .link {
  margin-left: 20px;
  color: rgb(0, 0, 0);
  transition: color 0.3s ease-in-out;
}

.product_list_container .link:hover {
  color: rgb(0, 114, 207);
}
