.product_container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
    background-color: $color-light;
    width: 250px;
    height: 170px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 3px 5px 8px $color-secondary;
    text-decoration: none;
    transition: box-shadow 0.3s ease-in-out;

    span {
      color: $color-dark;
      transition: color 0.3s ease-in-out;
    }

    &:hover {
      box-shadow: 3px 5px 8px $color-dark;
    }

    i {
      font-size: 6.8rem;
    }

    .fa-mobile-alt {
      color: rgb(209, 77, 0);
      transition: color 0.3s ease-in-out;
    }

    &:hover > .fa-mobile-alt {
      color: rgb(255, 94, 0);
    }

    .fa-tv {
      color: rgb(86, 179, 128);
      transition: color 0.3s ease-in-out;
    }

    &:hover > .fa-tv {
      color: rgb(107, 219, 157);
    }

    .fa-laptop {
      color: #542d5c;
      transition: color 0.3s ease-in-out;
    }

    &:hover > .fa-laptop {
      color: #742b83;
    }

    .fa-headphones-alt {
      color: #297759;
      transition: color 0.3s ease-in-out;
    }

    &:hover > .fa-headphones-alt {
      color: #18a16d;
    }
  }
}
