$bg-light: rgb(247, 240, 240);
$bg-trans: rgba(209, 206, 206, 0.5);
$color-success: #00b377;
$color-primary: #6adb00;
$color-danger: #c50000ad;
$color-accent: rgb(194, 0, 194);
$color-light: rgb(227, 233, 230);
$color-lighter: rgb(255, 255, 255);
$color-dark: #303131;
$color-darker: rgb(0, 0, 0);
$color-secondary: rgb(150, 150, 150);
