$bg-light: rgb(247, 240, 240);
$bg-trans: rgba(209, 206, 206, 0.6);
$color-primary: #41ff90;
$color-primary2: #bfff2b;
$color-success: #00ee47be;
$color-danger: #c50000ad;
$color-accent: rgb(194, 0, 194);
$color-light: rgb(230, 230, 230);
$color-lighter: rgb(255, 255, 255);
$color-dark: #272928;
$color-darker: rgb(27, 27, 27);
$color-secondary: rgb(66, 66, 66);
