@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$fonts-primary: 'Montserrat', sans-serif;
$bolder: 900;
$bold: 700;
$thin: 400;
$thiner: 100;

/* Sizes */
$xl: 3.1rem;
$lg: 2rem;
$md: 1.5rem;
$sm: 0.8rem;
$xs: 0.6rem;
