.oauthUser_container {
  width: 90%;
  margin: 0 auto;

  .content {
    width: 100%;
    background-color: $color-light;
    padding: 15px;
    box-shadow: 3px 3px 8px $color-dark;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;

    img {
      width: 100px;
      border-radius: 50px;
      border: 2px solid $color-lighter;
      box-shadow: 0 0 8px $color-lighter;
    }
  }

  .oauthUser_table {
    width: 100%;
    padding: 10px;
    margin-top: 20px;

    h2 {
      text-align: center;
    }

    table {
      display: table;
      border-spacing: 15px;
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      margin-top: 10px;
      font-size: 0.8rem;
      margin-top: 40px;

      @media (max-width: 1000px) {
        font-size: $xs;
      }

      thead {
        border-bottom: 1px solid $color-secondary;
      }

      tbody {
        tr {
          td {
            padding: 20px;
            border-bottom: 1px solid $color-secondary;

            @media (max-width: 390px) {
              padding: 10px;
            }

            .fa-times {
              color: $color-danger;
            }

            .fa-trash-alt {
              color: $color-danger;
              cursor: pointer;
              transition: color 0.3s ease-in-out;

              &:hover {
                color: rgb(255, 0, 0);
              }
            }

            .link {
              margin-left: 20px;
              color: $color-dark;
              transition: color 0.3s ease-in-out;

              &:hover {
                color: rgb(0, 114, 207);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .pr_t_hide_id,
  .pr_t_hide_crt,
  .pr_t_hide_deli {
    display: none;
  }
}
