.order_container {
  display: flex;
  width: 100%;

  @media (max-width: 1000px) {
    flex-direction: column;
  }

  .col_1 {
    width: 75%;
    padding: 10px;

    .payment,
    .shipping {
      margin-top: 40px;

      h4 {
        margin-top: 15px;

        span {
          font-size: small;
          font-weight: 400;
        }
      }
    }

    .cart_items {
      margin-top: 40px;

      .row {
        .content {
          display: flex;
          align-items: center;

          img {
            width: 30px;
            margin-top: 10px;
          }

          span,
          .link {
            margin-left: 20px;
            margin-top: 10px;
          }
        }
      }
    }

    @media (max-width: 650px) {
      .payment,
      .shipping {
        h2 {
          font-size: 1.1rem;
        }
        h4 {
          font-size: $sm;

          span {
            font-size: $xs;
          }
        }
      }

      .cart_items {
        h2 {
          font-size: 1.1rem;
        }
        .row {
          .content {
            span,
            .link {
              font-size: $xs;
            }
          }
        }
      }
    }
  }

  .col_2 {
    box-shadow: 2px 4px 8px $color-secondary;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;

    @media (max-width: 1000px) {
      margin-top: 50px;
      box-shadow: none;

      button {
        width: 50%;
      }
    }

    @media (max-width: 450px) {
      h2 {
        font-size: 1.1rem;
      }
    }

    h2 {
      text-align: center;
    }

    .prices {
      padding: 20px;

      h4:not(:first-child) {
        margin-top: 50px;
      }

      span {
        font-size: small;
        font-weight: 400;
      }
    }

    button {
      padding: 10px 0;
      background: transparent;
      border-color: $color-primary;
      font-family: 'Montserrat', sans-serif;
      outline: none;
      transition: color 0.3s ease-in-out;
      margin-top: 50px;
      cursor: pointer;
      border-radius: 10px;

      &:hover {
        background: $color-dark;
        color: $color-light;
      }
    }
  }
}
