.product_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 50px;

  @media (max-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 340px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.list_items {
  justify-self: center;
  margin-top: 50px;
}
