.profile_container {
  display: flex;

  @media (max-width: 1200px) {
    flex-direction: column;
  }

  .col_1 {
    width: 30%;
    background: $bg-trans;
    box-shadow: 1px 1px 5px $color-dark;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        margin-top: 15px;
      }

      input {
        padding: 10px 0;
        background: transparent;
        margin-top: 5px;
        outline: none;
        border-color: $color-primary;
        text-indent: 10px;
        border-radius: 10px;
        box-shadow: 1px 2px 8px $color-darker;
        transition: box-shadow 0.3s ease-in-out;

        &:focus {
          box-shadow: 1px 2px 8px $color-success;
        }
      }

      button {
        width: 100%;
        padding: 10px 0;
        background: transparent;
        border-color: $color-primary;
        font-family: $fonts-primary;
        outline: none;
        transition: color 0.3s ease-in-out;
        margin-top: 30px;
        cursor: pointer;
        border-radius: 10px;

        &:hover {
          background: $color-dark;
          color: $color-light;
        }
      }
    }

    button {
      width: 100%;
      padding: 10px 0;
      background: transparent;
      border-color: $color-primary;
      font-family: $fonts-primary;
      outline: none;
      transition: color 0.3s ease-in-out;
      margin-top: 30px;
      cursor: pointer;
      border-radius: 10px;

      &:hover {
        background: $color-dark;
        color: $color-light;
      }
    }

    @media (max-width: 1200px) {
      width: 100%;

      form {
        width: 50%;
      }

      button {
        width: 50%;
      }
    }
  }

  .col_2 {
    width: 70%;
    min-height: 100vh;
    background: $bg-trans;
    box-shadow: 1px 1px 5px $color-secondary;
    padding: 10px;
    margin-left: 10px;

    h2 {
      text-align: center;
    }

    .link {
      margin-left: 20px;
      color: $color-dark;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: rgb(0, 114, 207);
      }
    }

    table {
      display: table;
      border-spacing: 15px;
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      margin-top: 10px;
      font-size: 0.8rem;

      @media (max-width: 600px) {
        font-size: 0.6rem;
      }

      thead {
        border-bottom: 1px solid grey;
      }

      tbody {
        tr {
          td {
            padding: 20px;
            border-bottom: 1px solid grey;

            @media (max-width: 600px) {
              padding: 10px;
            }

            .fa-times {
              color: $color-danger;
            }

            .fa-trash-alt {
              color: $color-danger;
              cursor: pointer;
              transition: color 0.3s ease-in-out;

              &:hover {
                color: rgb(255, 0, 0);
              }
            }
          }
        }
      }
    }

    @media (max-width: 1200px) {
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
    }
  }
}

@media (max-width: 800px) {
  .id {
    display: none;
  }
}

@media (max-width: 500px) {
  .crt {
    display: none;
  }

  .deli {
    display: none;
  }
}
