.detail_container {
  width: 100%;

  .detail_grid {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    .row_1 {
      display: flex;
      align-items: center;

      .col_1 {
        width: 50%;
        margin-top: 50px;
        padding: 15px;
        text-align: center;

        img {
          width: 350px;
          box-shadow: 3px 3px 8px $color-dark;
          border-radius: 15px;
        }

        @media (max-width: 650px) {
          img {
            width: 250px;
          }
        }
      }

      .col_2 {
        width: 50%;
        padding: 15px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;

        img {
          width: 70px;
          height: 70px;
          box-shadow: 0 0 5px $color-dark;
          border-radius: 15px;
          cursor: pointer;
          transition: box-shadow 0.3s ease-in-out;

          &:hover {
            box-shadow: 0 0 12px $color-dark;
          }
        }

        @media (max-width: 850px) {
          flex-direction: column;
          justify-content: space-around;

          img {
            margin-top: 20px;
          }
        }
      }

      @media (max-width: 450px) {
        flex-direction: column;

        .col_1 {
          width: 100%;

          img {
            width: 200px;
          }
        }

        .col_2 {
          width: 100%;
          flex-direction: row;
          flex-wrap: wrap;
          img {
            width: 70px;
            height: 70px;
            box-shadow: 0 0 5px $color-dark;
            border-radius: 15px;
            cursor: pointer;
            transition: box-shadow 0.3s ease-in-out;
          }
        }
      }
    }

    .row_2 {
      display: flex;
      flex-flow: row-reverse;
      justify-content: space-between;

      @media (max-width: 600px) {
        flex-direction: column;
        flex-flow: column-reverse;
      }

      .col_1 {
        width: 50%;
        margin-top: 50px;
        padding: 15px;
        text-align: center;
        border-top: 1px solid $color-dark;

        .items {
          &:not(:first-child) {
            margin-top: 50px;
          }
        }

        select {
          padding: 10px;
          outline: none;
          border: none;
          border-radius: 25px;
          background-color: rgba(19, 18, 18, 0.5);
          color: white;
          cursor: pointer;
        }

        button {
          width: 50%;
          outline: none;
          padding: 10px 0;
          font-family: $fonts-primary;
          background: transparent;
          border-radius: 5px;
          cursor: pointer;
          border-color: $color-primary;
          transition: color 0.3s ease-in-out;

          &:hover {
            background: $color-dark;
            color: $color-lighter;
          }

          &:disabled {
            cursor: not-allowed;
            background: inherit;
            color: grey;
            border-color: #5f9b71;
          }
        }

        @media (max-width: 600px) {
          width: 100%;
        }
      }

      .col_2 {
        width: 50%;
        margin-top: 70px;
        padding: 15px;
        text-align: center;

        .items {
          &:not(:first-child) {
            margin-top: 30px;
          }
        }

        @media (max-width: 600px) {
          width: 100%;
        }
      }
    }
  }
}
