.detail_container {
  width: 100%;
}

.go_back {
  font-size: 2.5rem;
  color: #222423;
  transition: color 0.3s ease-in-out;
}

.go_back:hover {
  color: #00bd39;
}

.detail_grid {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.row_1 {
  display: flex;
}

.row_1 .col_1 {
  width: 50%;
  margin-top: 50px;
  padding: 15px;
  text-align: center;
}

.row_1 .col_1 img {
  width: 350px;
  box-shadow: 3px 3px 8px black;
  border-radius: 15px;
}

.row_1 .col_2 {
  flex-grow: 1;
  margin-top: 70px;
  padding: 15px;
  text-align: center;
}

.row_1 .col_2_items:not(:first-child) {
  margin-top: 30px;
}

.row_2 {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
}

.row_2 .col_1 {
  width: 50%;
  margin-top: 50px;
  padding: 15px;
  text-align: center;
  border-top: 1px solid #080808;
}

.row_2 .select {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 25px;
  background-color: rgba(19, 18, 18, 0.5);
  color: white;
  cursor: pointer;
}

.row_2 .col_1_items:not(:first-child) {
  margin-top: 50px;
}

.row_2 .col_1_btn {
  width: 50%;
  outline: none;
  padding: 10px 0;
  font-family: 'Montserrat', sans-serif;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
  border-color: rgb(1, 170, 1);
  transition: color 0.3s ease-in-out;
}

.row_2 .col_1_btn:hover {
  background: rgb(39, 39, 39);
  color: rgb(236, 236, 236);
}

.row_2 .col_1_btn:disabled {
  cursor: not-allowed;
  background: inherit;
  color: grey;
  border-color: #5f9b71;
}

.row_2 .col_2 {
  width: 50%;
  margin-top: 50px;
  padding: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.row_2 .col_2 .alt_img {
  width: 70px;
  height: 70px;
  box-shadow: 0 0 5px rgb(48, 48, 48);
  border-radius: 15px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.row_2 .col_2 .alt_img:hover {
  box-shadow: 0 0 12px black;
}

.img_active {
  border: 2px solid rgb(250, 249, 246);
  border-radius: 15px;
}
