.user_dropdown_btn {
  display: flex;
  background: rgba(247, 240, 240, 0.7);
  padding: 5px 15px;
  min-width: 100px;
  border-radius: 10px;
  box-shadow: 1px 2px 5px $color-secondary;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  margin-right: 5px;
  position: relative;

  @media (max-width: 400px) {
    min-width: 50px;
  }

  h5 {
    margin-right: 5px;
    color: $color-dark;
    transition: color 0.3s ease-in-out;

    @media (max-width: 400px) {
      display: none;
    }
  }

  &:hover {
    box-shadow: 1px 2px 5px $color-dark;
  }

  &:hover i,
  &:hover h5 {
    color: $color-darker;
  }

  .fa-user {
    color: $color-dark;
    transition: color 0.3s ease-in-out;
    margin-right: 10px;
  }

  .fa-user-tie {
    color: $color-dark;
    transition: color 0.3s ease-in-out;
    margin-right: 10px;
  }

  .fa-caret-down {
    color: $color-dark;
    transition: color 0.3s ease-in-out;
  }

  @media (min-width: 1500px) {
    padding: 10px 35px;

    h5 {
      font-size: 1.1rem;
    }

    .fa-user {
      font-size: 1.1rem;
    }

    .fa-user-tie {
      font-size: 1.1rem;
    }

    .fa-caret-down {
      font-size: 1.1rem;
    }
  }
}

.user_dropdown_content {
  display: flex;
  flex-direction: column;
  background: $color-light;
  min-height: 50px;
  min-width: 120px;
  position: absolute;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 3px;
  padding: 10px 0;
  text-align: center;
  box-shadow: 1px 2px 5px $color-secondary;
  z-index: 5;

  @media (max-width: 400px) {
    width: 20px;
    right: 2%;
  }

  .link {
    text-decoration: none;
    color: $color-dark;
    font-weight: 400;
    font-size: small;

    &:hover {
      font-weight: 700;
    }
  }

  hr {
    margin-top: 15px;
  }

  p {
    margin-top: 5px;
    cursor: pointer;
    font-size: small;

    &:hover {
      font-weight: 700;
    }
  }
}
